ol.checkout-agreements{margin-top:10px}
.onestepcheckout-extraproducts{margin-top:10px;margin-bottom:10px}
.onestepcheckout-extraproducts span{font-weight:700}
.onestepcheckout-extraproducts li{padding:2px 0}
.onestepcheckout-place-order-wrapper .onestepcheckout-button{border-radius:5px;width:198px}
.payment-method-wrapper{background:url(images/stripe.png) no-repeat #eee;background-position:388px 20px;padding:15px 7px;border-radius:5px;clear:both}
.payment-method-wrapper ul{padding:10px 20px;}
.onestepcheckout-column-middle .payment-method-wrapper ul li.clearfix .input-text,.onestepcheckout-column-middle .payment-method-wrapper ul li.clearfix select{width:100%}
.payment-method .input-box .v-fix:first-child{width:70%;margin-right:0}
.payment-method .input-box .v-fix{width:30%;margin-right:0}
.payment-method-wrapper #payment_form_ccsave{padding:0;padding-right:30px}
.onestepcheckout-button,.onestepcheckout-button:visited{background:#222 url(images/button-background.png) repeat-x;display:inline-block;padding:5px 10px 6px;color:#fff;text-decoration:none;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.5);text-shadow:0 -1px 1px rgba(0,0,0,0.25);border:none;position:relative;cursor:pointer}
.onestepcheckout-button:hover{background-color:#111;color:#fff}
.onestepcheckout-button:active{top:1px}
.small.onestepcheckout-button,.small.onestepcheckout-button:visited{font-size:11px}
.onestepcheckout-button,.onestepcheckout-button:visited,.medium.onestepcheckout-button,.medium.onestepcheckout-button:visited{font-size:13px;font-weight:700;line-height:1;text-shadow:0 -1px 1px rgba(0,0,0,0.25)}
.large.onestepcheckout-button,.large.onestepcheckout-button:visited{font-size:16px;padding:8px 30px 9px}
.green.onestepcheckout-button,.green.onestepcheckout-button:visited{background-color:#6db925}
.green.onestepcheckout-button:hover{background-color:#6db925}
.blue.onestepcheckout-button,.blue.onestepcheckout-button:visited{background-color:#2daebf}
.blue.onestepcheckout-button:hover{background-color:#007d9a}
.red.onestepcheckout-button,.red.onestepcheckout-button:visited{background-color:#e33100}
.red.onestepcheckout-button:hover{background-color:#872300}
.magenta.onestepcheckout-button,.magenta.onestepcheckout-button:visited{background-color:#a9014b}
.magenta.onestepcheckout-button:hover{background-color:#630030}
.orange.onestepcheckout-button,.orange.onestepcheckout-button:visited{background-color:#ff5c00}
.orange.onestepcheckout-button:hover{background-color:#d45500}
.yellow.onestepcheckout-button,.yellow.onestepcheckout-button:visited{background-color:#ffb515}
.yellow.onestepcheckout-button:hover{background-color:#fc9200}
.grey.onestepcheckout-button,.grey.onestepcheckout-button:visited{background-color:#ccc}
.grey.onestepcheckout-button:hover{background-color:#ccc}
.onestepcheckout-place-order-loading{text-align:right;margin-top:10px;padding-left:20px;font-style:italic;background:url(images/ajax-loader.gif) no-repeat;display:inline-block}
select.address-select{margin:3px 0;width:95%!important}
.onestepcheckout-enterprise span.validation-error,.onestepcheckout-enterprise div.validation-error{padding-right:0}
ul.onestepcheckout-custom-options{margin:0 0 0 20px;padding:0;list-style-type:disc}
.onestepcheckout-coupons input#id_couponcode{margin-bottom:5px;width:200px}
.onestepcheckout-giftcards input#id_giftcardcode{margin-bottom:5px;width:200px}
#onestepcheckout-form label{font-weight:400!important;display: inline}
.onestepcheckout-summary,.onestepcheckout-totals{border-collapse:collapse}
.onestepcheckout-summary th,.onestepcheckout-summary,.onestepcheckout-summary td,.onestepcheckout-totals td{padding:3px 0}
.onestepcheckout-summary th{border-bottom:1px solid #BEBCB7;border-top:1px solid #BEBCB7}
.onestepcheckout-totals td,.onestepcheckout-summary td{border-bottom:1px solid #BEBCB7}
h1.onestepcheckout-title{font-size:20px;text-transform:uppercase;display: none;}
p.onestepcheckout-description{font-size:18px}
#onestepcheckout-form .group-select{padding:20px!important}
div.onestepcheckout-threecolumns{margin-top:10px}
div.onestepcheckout-threecolumns h1{font-family:Arial,serif;font-size:18px;font-weight:700}
div.onestepcheckout-threecolumns div.onestepcheckout-column-left{width:100%;float:left;margin-right:15px;padding-top:15px;border-bottom:1px solid #ddd;padding-bottom:20px}
.onestepcheckout-cart-preview .cart-table{width:100%;margin-bottom: 0;}
.onestepcheckout-summary .cart table.cart-table .product-image{background:#fff;padding:5px;border: 2px solid #ddd;border-radius:0;margin: 0 0 0;width: 80px;}
.onestepcheckout-summary .cart table.cart-table .product-cart-info .item-options{display: inline-block;vertical-align: top;margin-left: 10px;font-size: 12px;color: #333;line-height: 14px;}
.onestepcheckout-summary .cart table.cart-table .product-cart-info .item-options dt{color: #333;}
div.onestepcheckout-threecolumns div.onestepcheckout-column-middle{width:100%;float:left;margin-right:15px;padding-right:15px;padding-top:15px}
div.onestepcheckout-threecolumns div.onestepcheckout-column-right{width:32%;float:left;padding-top:15px;padding-left:30px}
.onestepcheckout-column-right .confidence{margin-bottom:20px}
.onestepcheckout-column-right .confidence h3{text-align:center;font-weight:700;font-size:14px;color:#333;text-transform:none}
.onestepcheckout-column-right .confidence p{font-size:13px}
.onestepcheckout-column-right .confidence .godaddy{background:url(images/gogdaddy.jpg) no-repeat;width:122px;height:32px;font-size:0;display:block;margin:12px auto 5px}
.onestepcheckout-column-right .confidence,.onestepcheckout-column-right .peace{background:#eee;padding:12px;border-radius:5px}
.onestepcheckout-column-right .peace h3{font: bold 14px Arial;text-align: center;text-transform: none;color: #333;}
.onestepcheckout-column-right .peace li{position:relative;padding:10px 0}
.onestepcheckout-column-right .peace li:before{position:absolute;content:'';width:26px;height:26px;left:0;top:10px;background:url(images/sprites_checkout.png) no-repeat}
.onestepcheckout-column-right .peace li.instant:before{background-position:left 0}
.onestepcheckout-column-right .peace li.spots:before{background-position:left -80px}
.onestepcheckout-column-right .peace li.support:before{background-position:left -142px}
.onestepcheckout-column-right .peace li span{padding-left:45px}
p.onestepcheckout-login-link{padding-top:5px;display: none;}
#onestepcheckout-email-error{width:245px;clear:both;padding-top:3px}
div.onestepcheckout-error{color:#DF280A;border:1px solid #DF280A;margin-top:5px;margin-bottom:5px;text-align:left;padding-top:3px;padding-bottom:3px;padding-left:25px;background:#FAEBE7 url(images/onestepcheckout-error.jpg) no-repeat 5px 5px}
.onestepcheckout-column-left .onestepcheckout-error{width:85%!important}
div.onestepcheckout-enable-newsletter{margin-bottom:10px}
div.onestepcheckout-enable-newsletter-bottom{margin-top:20px;text-align:right}
div.onestepcheckout-enable-terms{margin-top:10px}
table.onestepcheckout-summary{width:100%}
table.onestepcheckout-summary td.name{width:55%}
table.onestepcheckout-summary td.qty,table.onestepcheckout-summary th.qty{width:10%;text-align:center}
table.onestepcheckout-summary td.total,table.onestepcheckout-summary th.total{width:35%;text-align:right}
table.onestepcheckout-totals{width:100%;margin-bottom:20px}
table.onestepcheckout-totals tr.grand-total td{font-weight:700}
table.onestepcheckout-totals td.title{width:65%;text-align:right}
table.onestepcheckout-totals td.value{width:35%;text-align:right}
div.onestepcheckout-place-order-wrapper{text-align:right;margin-top:20px}
div.checkoutcontainer{border-top:1px solid #D8D2C7;min-height:33em;overflow:hidden}
div.checkoutcontainer .checkout-error-message{font-size:14px;margin-left:10px;color:red}
div.checkoutcontainer .payment-methods .form-list label{text-align:left!important}
div.checkoutcontainer div.input-error label{color:red!important}
div.checkoutcontainer div.input-error input,div.checkoutcontainer div.input-error select{border:1px solid red!important}
div.checkoutcontainer div.input-different-shipping{margin-top:10px}
div.checkoutcontainer div.input-address-short,div.checkoutcontainer div.input-firstname,div.checkoutcontainer div.input-lastname,div.checkoutcontainer div.input-email,div.checkoutcontainer div.input-telephone,div.checkoutcontainer div.input-company,div.checkoutcontainer div.input-fax,div.checkoutcontainer div.input-password{width:47%;float:left}
div.checkoutcontainer div.input-lastname,div.checkoutcontainer div.input-telephone{float: right;}
div.checkoutcontainer li.taxvat .input-text{width:83%!important}
div.checkoutcontainer div.input-address-short .input-text,div.checkoutcontainer div.input-firstname .input-text,div.checkoutcontainer div.input-lastname .input-text,div.checkoutcontainer div.input-email .input-text,div.checkoutcontainer div.input-telephone .input-text,div.checkoutcontainer div.input-company .input-text,div.checkoutcontainer div.input-fax .input-text,div.checkoutcontainer div.input-password .input-text{width:100%}
div.checkoutcontainer div.input-address,div.checkoutcontainer div.input-city,div.checkoutcontainer li.taxvat div.input-box{width:100%!important}
div.checkoutcontainer div.input-address .input-text,div.checkoutcontainer div.input-city .input-text{width:83%}
div.checkoutcontainer div.input-postcode{width:60%;float:left}
div.checkoutcontainer div.input-postcode .input-text{width:70%}
div.checkoutcontainer div.input-region{float:right;width:37%}
div.checkoutcontainer div.input-region .input-text{width:77%}
div.checkoutcontainer div.input-country{width:100%}
div.checkoutcontainer div.input-country select{width:85%}
div.checkoutcontainer div.input-region select{width:100%!important}
fieldset.group-select{padding:10px}
.group-select li{padding:4px 0}
.shipment-methods dd{font-weight:700;margin:0!important}
p.checkout-choose-payment-method,p.checkout-choose-shipping-method{margin-top:1em;font-size:14px;font-weight:700;margin-bottom:5px}
p.checkout-choose-payment-method{margin-top:2em!important}
.payment-methods dd li{padding:0}
div.onestepcheckout-shipping-method{margin-bottom:20px}
div.loading-ajax,div.loading-ajax-login{height:50px;text-align:center;background:url(images/ajax-loader.gif) no-repeat center center}
p.onestepcheckout-numbers em{background-repeat:no-repeat;height:30px;color:#fff;text-transform:uppercase;font-size:15px;font-weight:700;width:30px;border-radius:50%;background:#7DB546;display:inline-block;text-align:center;line-height:30px;font-style:normal;margin-right:10px}
p.onestepcheckout-numbers{font-weight:700;color:#666;font-size:18px;font-family:'Arial'}
div.onestepcheckout-skin-magento .onestepcheckout-numbers{padding-top:0;padding-left:28px!important;height:25px!important;text-transform:capitalize!important;color:#F18200!important;font-size:13px!important}
div.onestepcheckout-skin-magento p.onestepcheckout-numbers-1{background-image:url(images/skin-magento/onestepcheckout-numbers-1.png)!important}
div.onestepcheckout-skin-magento p.onestepcheckout-numbers-2{background-image:url(images/skin-magento/onestepcheckout-numbers-2.png)!important}
div.onestepcheckout-skin-magento p.onestepcheckout-numbers-3{background-image:url(images/skin-magento/onestepcheckout-numbers-3.png)!important}
div.onestepcheckout-skin-magento p.onestepcheckout-numbers-4{background-image:url(images/skin-magento/onestepcheckout-numbers-4.png)!important}
#onestepcheckout_popup_overlay_iframe{z-index:100000;background-color:#000;opacity:.8;filter:alpha(opacity = 80);position:absolute;width:100%;height:100%;left:0;top:0;right:0}
#onestepcheckout_popup_overlay{z-index:1000000;background-color:#000;opacity:.8;filter:alpha(opacity = 80);position:absolute;width:100%;height:100%;left:0;top:0;right:0;cursor:pointer}
#onestepcheckout-toc-popup{width:482px;height:530px;position:absolute;z-index:1000001}
#onestepcheckout-toc-popup .onestepcheckout-popup-contents{height:515px!important}
#onestepcheckout-toc-popup div.onestepcheckout-popup-contents{overflow:auto;height:450px}
#onestepcheckout-toc-popup h1{margin-left:20px}
#onestepcheckout-toc-popup .onestepcheckout-toc-terms{margin:0 20px 20px;height:440px!important;overflow:auto;padding-right:10px}
#onestepcheckout-login-popup,#onestepcheckout-toc-popup{text-align:left!important}
.onestepcheckout-popup-contents h1{font-size:18px!important;padding-top:5px!important}
.onestepcheckout-popup-contents{background:#dbdbdb;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top,#dbdbdb 0%,#f4f4f4 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#dbdbdb),color-stop(100%,#f4f4f4));background:-webkit-linear-gradient(top,#dbdbdb 0%,#f4f4f4 100%);background:-o-linear-gradient(top,#dbdbdb 0%,#f4f4f4 100%);background:-ms-linear-gradient(top,#dbdbdb 0%,#f4f4f4 100%);background:linear-gradient(to bottom,#dbdbdb 0%,#f4f4f4 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbdbdb',endColorstr='#f4f4f4',GradientType=0);border-radius:10px;border:3px solid #fff;margin:0 20px;padding:10px}
.onestepcheckout-popup-contents label{font-weight:400}
.onestepcheckout-popup-contents .input-text{width:190px!important}
#onestepcheckout-login-popup{max-width:482px;position:absolute;z-index:1000001}
#onestepcheckout-login-popup button{padding:3px 10px}
#onestepcheckout-login-popup p{padding:5px 0 0}
#onestepcheckout-login-popup .input-button{padding-top:5px}
#onestepcheckout-login-popup p.close,#onestepcheckout-toc-popup p.close{font-size:15px;text-transform:uppercase;font-weight:700;position:absolute;right:28px;bottom:4px}
#onestepcheckout-login-popup p.close a,#onestepcheckout-login-popup p.close a:link,#onestepcheckout-login-popup p.close a:visited,#onestepcheckout-toc-popup p.close a,#onestepcheckout-toc-popup p.close a:link,#onestepcheckout-toc-popup p.close a:visited{text-decoration:none;color:#000}
#onestepcheckout-login-popup p.close a:hover,#onestepcheckout-toc-popup p.close a:hover{text-decoration:underline}
#onestepcheckout-login-error,#onestepcheckout-forgot-error{color:red;margin-bottom:10px}
div.onestepcheckout-comments{margin-top:5px;margin-bottom:20px}
div.onestepcheckout-comments textarea{margin-top:5px;width:95%}
.onestepcheckout-two-columns .onestepcheckout-column-left{width:47%;float:left;margin-right:30px;background:transparent url(images/line-gradient.gif) no-repeat scroll right top}
.onestepcheckout-two-columns .onestepcheckout-column-right{width:43%;float:left}
.onestepcheckout-two-columns p.onestepcheckout-numbers{margin-top:20px!important}
.onestepcheckout-two-columns div.onestepcheckout-enable-terms{text-align:center!important}
.onestepcheckout-two-columns div.onestepcheckout-place-order-wrapper{text-align:center!important;margin-top:10px!important}
.onestepcheckout-two-columns div.onestepcheckout-enable-newsletter{text-align:center!important}
.checkoutcontainer .payment-methods .input-box{width:100%!important}
.checkoutcontainer .payment-methods .input-box .input-text,.checkoutcontainer .payment-methods .input-box textarea,.checkoutcontainer .payment-methods .input-box select{width:95%!important}
.checkoutcontainer .payment-methods .input-box select.year,.checkoutcontainer .payment-methods .input-box select#protxDirect_expiration_yr,.checkoutcontainer .payment-methods .input-box select#protxDirect_start_yr{width:75px!important}
.checkoutcontainer .payment-methods .input-box select#protxDirect_start,.checkoutcontainer .payment-methods .input-box select#protxDirect_expiration{width:140px!important}
.payment-method .input-box .v-fix.valid-cvv-wrapper{width: 50%;}
.checkoutcontainer li.shipping-address-title{font-family:Arial,sans-serif;font-size:16px;text-transform:uppercase;color:#404040;font-weight:700;padding-top:5px}
.onestepcheckout-giftmessagecontainer{margin-bottom:10px}
#onestepcheckout-giftmessages .onestepcheckout-giftmessages fieldset.group-select{padding:0!important;border:0!important;margin:0!important}
.onestepcheckout-giftmessages .group-select li .input-box-last{margin-right:0!important}
.onestepcheckout-giftmessages .group-select li .input-box{width:125px;margin-right:20px}
.onestepcheckout-giftmessages .group-select li .input-box .input-text{width:120px}
.onestepcheckout-giftmessages .group-select li textarea{width:267px}
.onestepcheckout-address-line{margin-bottom:10px}
.onestepcheckout-column-left .customer-dob .dob-month,.onestepcheckout-column-left .customer-dob .dob-day,.onestepcheckout-column-left .customer-dob .dob-year{float:left}
.onestepcheckout-column-left .customer-dob input.input-text{display:block;width:74px}
.onestepcheckout-column-left .customer-dob label{font-size:10px;font-weight:400;color:#888}
.onestepcheckout-column-left .customer-dob .dob-day,.onestepcheckout-column-left .customer-dob .dob-month{width:60px}
.onestepcheckout-column-left .customer-dob .dob-day input.input-text,.onestepcheckout-column-left .customer-dob .dob-month input.input-text{width:46px}
.onestepcheckout-column-left .customer-dob .dob-year{width:110px}
.onestepcheckout-column-left .customer-dob .dob-year input.input-text{width:115px}
.onestepcheckout-feedback,.onestepcheckout-feedback-freetext{padding-top:10px}
.onestepcheckout-feedback select{width:95%}
.onestepcheckout-feedback-freetext textarea{width:95%}
#control_overlay{background-color:#000}
.oscmodal{background-color:#fff;padding:10px;border:1px solid #333}
#addressreview{width:750px;min-height:430px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background:#E9EAEE;border:2px solid #fff;padding:15px 40px 20px;margin:0 auto;text-align:left;box-shadow:1px 2px 6px rgba(0,0,0,0.5);-moz-box-shadow:1px 2px 6px rgba(0,0,0,0.5);-webkit-box-shadow:1px 2px 6px rgba(0,0,0,0.5);position:relative}
#addressreview .leftcol{float:left;width:200px}
#addressreview .rightcol{float:left;width:540px}
#addressreview h4{padding-top:15px;padding-bottom:3px;font-size:16px}
#addressreview #buttons{position:absolute;right:40px;bottom:20px}
#addressreview #buttons div{float:left;zoom:1;margin:0 10px}
#addressreview_summary div.data{height:375px;overflow-y:auto;padding-right:2px}
.checkout-agreements li{margin:0}
.checkout-agreements .agree{margin:0;padding:0}
.agreement-content{overflow:auto;text-align:left}
label.required:after,span.required:after{content:''!important}
span.required{color:red}
.onestepcheckout-column-main{width:68%;float:left}
.onestepcheckout-threecolumns .payment-method .payment-logos {padding: 0;position: absolute;top: 99px;left: 307px;width: 230px;}
.payment-logos li{width: 56px;height: 34px;color: transparent;display: inline-block;font-size: 0;float: left;}
.payment-logos .visa,
.payment-logos .mastercard,
.payment-logos .amex,
.payment-logos .discover{background:url(images/payment/credit-cards-checkout.png) no-repeat;width: 37px;height: 25px;margin: 4px 2px 0;}
.payment-logos .visa{background-position: -4px 0;}
.payment-logos .mastercard{background-position: -41px 0;}
.payment-logos .amex{background-position: -80px 0;}
.payment-logos .discover{background-position: -119px 0;}
.billing-address-clone{width: 324px;}
#payment-tool-tip{background: #fff;border: 1px solid #ccc;left: 336px !important;padding: 20px;position: absolute;top: 558px !important;border-radius: 5px;}
.onestepcheckout-column-middle{position: relative;}
#payment-tool-tip .block-content{background:#fff;border-radius: 5px;margin-top: 5px;padding: 10px;}
.credit-card-confirm{background:url(images/payment/credit_card.png) no-repeat center center;width: 41px;height: 28px;float: left;}
.cvv-what-is-this{color: #636363;}