<?php $_product = $this->getProduct(); ?>
<?php $_options = Mage::helper('core')->decorateArray($this->getOptions()); ?>
<?php if ($_product->isSaleable()):?>
    <?php if (count($_options)): ?>
        <span class="tour-label-second"><em>2</em><?php echo $this->__('How Many Tickets?') ?></span>
        <dl class="second-time">
        <?php foreach ($_options as $_option): ?>
            <?php if (!$_option->getSelections()): ?>
                <?php continue; ?>
            <?php endif; ?>
            <?php 
            if($block_name = $this->getData($_option->getType()))
            echo $this->getLayout()->createBlock($block_name)->setOption($_option)->setTemplate('bundle/catalog/product/view/type/bundle/option/select_values.phtml')->toHtml(); 
            ?>
        <?php endforeach; ?>
        </dl>
    <?php else: ?>
        <p><?php echo $this->__('No options of this product are available.') ?></p>
    <?php endif; ?>
<?php endif;?>
