<?php
/**
 * @category    Fishpig
 * @package     Fishpig_iBanners
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php if ($this->canAnimate()): ?>
	<?php $group = $this->getGroup() ?>
	<?php $banners = $this->getBanners() ?>
	<div id="<?php echo $this->getWrapperId() ?>" class="<?php echo $this->getWrapperClass() ?>">
	<?php foreach($banners as $banner): ?>
		<div class="banner-item">
		<?php if ($banner->hasUrl()): ?>
			<a href="<?php echo $banner->getUrl() ?>" title="<?php echo $this->escapeHtml($banner->getTitle()) ?>">
		<?php endif; ?>
		<img src="<?php echo $banner->getImageUrl() ?>" alt="<?php echo $this->escapeHtml($banner->getAltText()) ?>" />
		<?php if ($banner->hasUrl()): ?>
			</a>
		<?php endif; ?>
		</div>
	<?php endforeach; ?>
	</div>
	<?php $config = unserialize($group->getSetting()); ?>
	<script type="text/javascript">
		jQuery(document).ready(function() {
	  		jQuery("#<?php echo $this->getWrapperId() ?>").owlCarousel({
	  			<?php if($config['number_items'] == 1): ?>
	  			singleItem: true,
	  			<?php else: ?>
	  			items: <?php echo $config['number_items'] ?>,
	  			<?php endif; ?>
	  			slideSpeed: <?php echo $config['slide_speed'] ?>,
	  			autoPlay: <?php echo ($config['auto_play'] == 1) ? 'true' : 'false' ?>,
	  			stopOnHover: <?php echo ($config['hover_stop'] == 1) ? 'true' : 'false' ?>,
	  			navigation: <?php echo ($config['navigation'] == 1) ? 'true' : 'false' ?>,
	  			pagination: <?php echo ($config['pagination'] == 1) ? 'true' : 'false' ?>,
	  			lazyLoad: true
	  		});
		});
	</script>
<?php endif; ?>