<div class="box box-left">
    <b><?php echo $this->__('Explanations:') ?></b>
    <ul class="note-list">
        <li><span style="color:<?php echo $this->getNoConflictColor() ?>"><?php echo $this->__('Green class shows') ?></span> <?php echo $this->__(': - This class is currently used instead of Base class.') ?></li>
        <li><span style="color:<?php echo $this->getConflictResolvedColor() ?>"><?php echo $this->__('Orange class shows') ?></span> <?php echo $this->__(': -  Currently used class extends this class.') ?></li>
        <li><span style="color:<?php echo $this->getConflictColor() ?>"><?php echo $this->__('Red class shows') ?></span> <?php echo $this->__(': -  Probably there is conflict, Base class has been overwritten by this class, but this class is not used. You should check if this class doesn\'t contain any important methods or changes.') ?></li>
    </ul>
</div>
<div class="clear"></div>