<?php
$productId = Mage::registry('current_product')->getId();
$reviews = $this->getReviewsCollection($productId);
$total_points = $this->getReviewTotalPoint($productId);
$total_reviews = (int)$reviews->count();
if($total_reviews > 0):
$avg = ($total_points * 100)/($total_reviews * 5);
?>
<div class="custom-review">
	<div class="avg">
        <div class="cr-title">
            <span class="cr-star">
                <span style="width:<?php echo $avg ?>%"></span>
            </span>
            <p><?php echo $total_reviews." ".$this->__('Customer reviews') ?></p>
        </div>
	</div>
	<input type="hidden" id="count_url" value="<?php echo Mage::getUrl('customreview/review/rating'); ?>" />
	<ul id="review-listing">
	<?php $i=0; foreach ($reviews as $review): $i++; ?>
		<li>
			<div>
	            <span class="cr-star">
	                <span style="width:<?php echo $review->getPoint()*20 ?>%"></span>
	            </span>
	            <label><?php echo $review->getTitle() ?></label>
				<span class="cr-date"><?php echo $review->getDate() ?></span>
			</div>
			<div>
	            <span class="cr-name"><?php echo $review->getAuthor() ?></span>
			</div>
			<div class="cr-content">
				<?php echo $review->getDescription() ?>
			</div>
			<div class="review-imgs">
				<?php
					if ($review->getData('image_1') != '') {
						$image = Mage::getBaseDir('media').DS."review".DS.$review->getData('image_1');
						$imageResized = Mage::getBaseDir('media').DS."review".DS."resized".DS.$review->getData('image_1');
						if (!file_exists($imageResized) && file_exists($image)){
							$imageObj = new Varien_Image($image);
							$imageObj->constrainOnly(TRUE);
							$imageObj->keepAspectRatio(FALSE);
							$imageObj->keepFrame(FALSE);
							$imageObj->resize(50, 50);
							$imageObj->save($imageResized);
						}
						echo "<a rel='review-gallery_".$i."' class='review-gallery' href=".Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'review/'.$review->getData('image_1')." ><img src=".Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'review/resized/'.$review->getData('image_1')." /></a>";
					}
					if ($review->getData('image_2') != '') {
						$image = Mage::getBaseDir('media').DS."review".DS.$review->getData('image_2');
						$imageResized = Mage::getBaseDir('media').DS."review".DS."resized".DS.$review->getData('image_2');
						if (!file_exists($imageResized) && file_exists($image)){
							$imageObj = new Varien_Image($image);
							$imageObj->constrainOnly(TRUE);
							$imageObj->keepAspectRatio(FALSE);
							$imageObj->keepFrame(FALSE);
							$imageObj->resize(50, 50);
							$imageObj->save($imageResized);
						}
						echo "<a rel='review-gallery_".$i."' class='review-gallery' href=".Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'review/'.$review->getData('image_2')." ><img src=".Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'review/resized/'.$review->getData('image_2')." /></a>";
					}
					if ($review->getData('image_3') != '') {
						$image = Mage::getBaseDir('media').DS."review".DS.$review->getData('image_3');
						$imageResized = Mage::getBaseDir('media').DS."review".DS."resized".DS.$review->getData('image_3');
						if (!file_exists($imageResized) && file_exists($image)){
							$imageObj = new Varien_Image($image);
							$imageObj->constrainOnly(TRUE);
							$imageObj->keepAspectRatio(FALSE);
							$imageObj->keepFrame(FALSE);
							$imageObj->resize(50, 50);
							$imageObj->save($imageResized);
						}
						echo "<a rel='review-gallery_".$i."' class='review-gallery' href=".Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'review/'.$review->getData('image_3')." ><img src=".Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'review/resized/'.$review->getData('image_3')." /></a>";
					}
					if ($review->getData('image_4') != '') {
						$image = Mage::getBaseDir('media').DS."review".DS.$review->getData('image_4');
						$imageResized = Mage::getBaseDir('media').DS."review".DS."resized".DS.$review->getData('image_4');
						if (!file_exists($imageResized) && file_exists($image)){
							$imageObj = new Varien_Image($image);
							$imageObj->constrainOnly(TRUE);
							$imageObj->keepAspectRatio(FALSE);
							$imageObj->keepFrame(FALSE);
							$imageObj->resize(50, 50);
							$imageObj->save($imageResized);
						}
						echo "<a rel='review-gallery_".$i."' class='review-gallery' href=".Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'review/'.$review->getData('image_4')." ><img src=".Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'review/resized/'.$review->getData('image_4')." /></a>";
					}
					if ($review->getData('image_5') != '') {
						$image = Mage::getBaseDir('media').DS."review".DS.$review->getData('image_5');
						$imageResized = Mage::getBaseDir('media').DS."review".DS."resized".DS.$review->getData('image_5');
						if (!file_exists($imageResized) && file_exists($image)){
							$imageObj = new Varien_Image($image);
							$imageObj->constrainOnly(TRUE);
							$imageObj->keepAspectRatio(FALSE);
							$imageObj->keepFrame(FALSE);
							$imageObj->resize(50, 50);
							$imageObj->save($imageResized);
						}
						echo "<a rel='review-gallery_".$i."' class='review-gallery' href=".Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'review/'.$review->getData('image_5')." ><img src=".Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'review/resized/'.$review->getData('image_5')." /></a>";
					}
				?>
			</div>
			<div class="helpful_review_<?php echo $review->getReviewId() ?> helpful_review-bb">
				<span><?php echo $this->__('was this review helpful?') ?></span>
				<button type="button" class="review_update" value="<?php echo $review->getReviewId() ?>"><span><span><?php echo $this->__('Yes') ?></span></span></button>
				<?php if($review->getHelpfullCounter() > 0): ?>
				<small class="counter"><?php echo $review->getHelpfullCounter() ?></small>
				<?php endif; ?>
			</div>
			<?php if($review->getComment() > 0): ?>
			<div class="comment-bb">
				<label><?php echo $this->__('Comment from Amber For Babies:') ?></label>
				<p><?php echo $review->getCommentContent() ?></p>
			</div>
			<?php endif; ?>
		</li>
	<?php endforeach; ?>
	</ul>
	<div class="review-pager"></div>
</div>
<?php endif; ?>